---
- hosts: all
  become: yes
  tasks:
    - name: ping
      ping:
        data: testing
    - name: copy
      synchronize:
              src: "{{ lookup('env', 'HOME') }}/workspace/public"
              dest: "/var/www/{{ directory }}"
              owner: no
              group: no
              recursive: yes
    - name: permissions
      shell:
          cmd: "chmod -R 775 /var/www/{{ directory }}"
          cmd: "chown -R www-data:www-data /var/www/{{ directory }}"
      notify:
        - restart nginx
        - restart php
        - restart mysql
        - change permissions
      
  handlers:
      - name: restart nginx
        service:
          name: nginx
          state: restarted
      - name: restart php
        service:
          name: php7.2-fpm
          state: restarted
      - name: restart mysql
        service:
          name: mysql
          state: restarted
