---
- hosts: all
  become: yes
  tasks:
    - name: ping
      ping:
        data: testing
    - name: copy
      synchronize:
              src: "{{ lookup('env', 'HOME') }}/workspace/public"
              dest: "/var/www/"

